<h1>会社情報</h1>
<tr>
  <td><%= link_to("ホーム", "http://localhost:3000/home/top") %></td>
  <td><%= link_to("学生", "http://localhost:3000/home/students") %></td>
  <td><%= link_to("レポート", "http://localhost:3000/home/reports") %></td>
</tr>

<table>
  <tr>
    <th>会社ID</th>
      <td><%=  %></td>
    <th>会社名</th>
      <td><%=  %></td>
</tr>
</table>
