<h1>学生</h1>

<tr>
  <td><%= link_to("ホーム", "http://localhost:3000/home/top") %></td>
  <td><%= link_to("会社情報", "http://localhost:3000/home/companies") %></td>
  <td><%= link_to("レポート", "http://localhost:3000/home/reports") %></td>
</tr>

<table>
  <tr>
    <th>生徒番号</th>
      <td><%=  %></td>
    <th>名前</th>
      <td><%=  %></td>
</tr>
</table>
