<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reports_id %>
    <%= form.number_field :reports_id %>
  </div>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.collection_select :student_id,Student.all,:id,:name %>
  </div>

  <div class="field">
    <%= form.label :投稿種別 %>
    <%= form.select :report_type_id,[["会社訪問","1"],["面接","2"],["筆記試験","3"]] %>
  </div>

  <div class="field">
    <%= form.label :日にち %>
    <%= form.date_select(:planned_date, { use_month_numbers: true }) %>
  </div>

  <div class="field">
    <%= form.label :会社名 %>
    <%= form.collection_select :company_id,Company.all,:id,:company_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
