<!DOCTYPE html>
<html>
  <head>
    <title>Nosakane</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if admin_signed_in? %>
            <li>管理者</li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          <% end %>
            <li>管理者としてログイン</li>
            <li>
              <%= link_to "ログイン", new_admin_session_path %>
            </li>

        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
