<!DOCTYPE html>
<html>
  <head>
    <title>Nosakane</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>

  <body class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1><%= link_to("nosakane", "/", class: "navbar-brand") %></h1>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to("students", "/students", class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("companies", "/companies", class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("reports", "/reports", class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("report types", "/report_types", class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("users", "/user/index", class: "nav-link") %>
            </li>
          </ul>
        </div>
      </nav>
        <ul>
          <% if admin_signed_in? %>
            <li><strong>管理者としてログイン中</strong></li>
            <li>
            <li>
              <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          <% else %>
            <li>管理者としてログインしていません</li>
          <% end %>
          <li>
            <%= link_to "管理者ログイン", new_admin_session_path %>
          </li>
        </ul>

        <ul>
          <% if user_signed_in? %>
            <li><strong>ユーザーとしてログイン中</strong></li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>ユーザーとしてログインしていません</li>
          <% end %>
          <li>
            <%= link_to "ユーザーログイン", new_user_session_path %>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <% if user_signed_in? %>
        <div class="alert alert-primary" role="alert">
          <table border="1" class="table table-bordered border-primary">
            <tr>
              <th>ユーザーID</th>
              <th>ユーザーメールアドレス</th>
              <th>学生番号</th>
              <th>名前</th>
            </tr>
            <tr>
              <td><%= current_user.id %></td>
              <td><%= current_user.email %></td>
              <td><%= current_user.student_id %></td>
              <td><%= Student.find_by(student_id: current_user.student_id).name %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </footer>
  </body>
</html>