<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

    <div class="container">
      <div class="row login_box">
        <div class="col-md-12 col-xs-12" align="center">
          <div class="line">
            <h3>新規登録</h3>
          </div>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "php-email-form") do |f| %>
          <div class="col-md-12 col-xs-12 login_control">
            <div class="control">
              <div class="label">
                <%= f.label :student_id, "学生番号" %>
              </div>
              <%= f.text_field :student_id, autofocus: true, class: "form-control", placeholder:"101001" %>
            </div>
            <div class="control">
              <div class="label">
                <%= f.label :email, "メールアドレス" %><br />
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"sample@sample.com" %>
            </div>
            <div class="control">
              <div class="label">
                <%= f.label :password, "パスワード" %>
              </div>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="control">
              <div class="label password-confirm">パスワード（確認用）</div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div align="center">
              <%= f.submit "アカウント作成", class: "btn btn-orang" %>
            </div>
          </div>
          <%= hidden_field_tag :line_account_id, params[:line_account_id] %>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</section>